:root {
    --red: #FF0000;
    --blue: #00BFFF;
    --green: #ADFF2F;
    --grey-light: #f4f4f4;
    
}

.header {
    background-color: var(--blue);
    color: var(--grey-light);
    padding: 10px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-img {
    height: 80px;
    width: auto;
}

.clinic-name {
    font-size: 1.5rem;
    color: var(--grey-light);
}

.auth-button {
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    color: var(--red);
    background-color: var(--grey-light);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

@media (max-width: 768px) {
    .header-content {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .logo-img {
        height: 60px;
    }

    .clinic-name {
        font-size: 1.2rem;
    }

    .auth-button {
        padding: 6px 12px;
        font-size: 0.85rem;
    }
}