:root {
    --red: #FF0000;
    --blue: #00BFFF;
    --green: #ADFF2F;
    --grey-light: #f4f4f4;
    
}

.nav-bar {
    width: 100%;
    background-color: var(--blue);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-content {
    width: 100%;
    /* max-width: 1200px; */
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left {
    display: flex;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    transition: 0.3s;
}

.nav-links a:hover {
    text-decoration: underline;
}

/* language switcher */
.language-switcher {
    display: flex;
    gap: 10px;
}

.language-switcher button {
    background-color: white;
    color: var(--blue);
    font-weight: bold;
    border: none;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;

}