
:root {
    --red: #FF0000;
    --blue: #00BFFF;
    --green: #ADFF2F;
    --grey-light: #f4f4f4;
    
}

/* Profile container */
.patient-profile-container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: var(--grey-light);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.profile-header {
    color: var(--blue);
    margin-bottom: 20px;
}

.patient-profile-section-header {
    color: var(--blue);
    border-bottom: 2px solid var(--blue);
    padding-bottom: 5px;
    margin-bottom: 10px;
    margin-top: 40px;
    padding-top: 20px;
}

/* Appointments section */
.appointments-section {
    margin-top: 30px;
}

.appointment-list {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 8px;
}

.appointment-list.today {
    background: rgba(0, 255, 127, 0.1);
}

.appointment-list.upcoming {
    background: rgba(255, 165, 0, 0.1);
}

.appointment-list.past {
    background: rgba(255, 99, 71, 0.1);
}

.appointment-list ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.appointment-list.past li:hover p,
.appointment-list.today li:hover p {
    text-decoration: underline;
    color: #0077cc;
}

/* delete button */
.delete-patient {
    background: var(--red);
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 20px;
    margin-top: 20px;
    transition: background 0.3s ease;
}

/* edit profile pop up */
.pop-up {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);/* background*/
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.edit-section {
    background: var(--grey-light);
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    max-height: 90vh;
    text-align: left;
}

.edit-section h3 {
    margin-bottom: 10px;
    text-align: center;
}

.edit-section input {
    width: 100%;
    padding: 8px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 11px;
}

/* save and cancel buttons in the pop up */
.save-button {
    background-color: #40b15a;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
    border-radius: 5px;
}

.cancel-button {
    background-color: #dc3545;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
    border-radius: 5px;
}

/* edit profile */
.edit-profile {
    display: flex;
    justify-content: flex-end;
    padding: 10px 30px 0 0;
    margin-top: 10px;
    top: 170px;
    position: absolute;
    right: 20px;
}

.edit-profile .edit-button {
    position: absolute;
    background-color: var(--blue);
    padding: 10px 70px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    color: white;
    min-width: 140px;
    font-weight: bold;
    top: 20px;
    right: 20px;
}

