:root {
    --red: #FF0000;
    --blue: #00BFFF;
    --green: #ADFF2F;
    --grey-light: #f4f4f4;
    
}

.sidebar {
    width: 220px;
    height: calc(100vh - 120px);
    background: white ;
    display: flex;
    flex-direction: column;
    padding: 20px;
    position: absolute;
    left: 0;
    top: 100px;
    color: white;

}

.sidebar-btn {
    background: #555;
    color: white;
    border: none;
    padding: 12px;
    margin: 5px 0;
    text-align: left;
    cursor: pointer;
    border-radius: 5px;
    display: block;
    
}
