:root {
    --red: #FF0000;
    --blue: #00BFFF;
    --green: #ADFF2F;
    --grey-light: #f4f4f4;
    
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.layout-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.layout-main {
    flex: 1;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


/* Dashboard  */
.dashboard {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    min-height: 75vh;
    background-color: var(--grey-light);
    padding: 20px;
}

.dashboard h1 {
    font-size: 2rem;
    color: #343a40;
    margin-bottom: 30px;
}

.action-button-d,
.appointments-actions {
    padding: 10px 20px;
    font-size: 1.2rem;
    color: #ffffff;
    background-color: var(--blue);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}
